@import "../style.css";

.containerform{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: #313137;
    border-color: #f6ff00 2px;
    border-radius: 20px;
    width: 250px;
    height: 250px;
}